@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #0095dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

/** Define Game rules */

h1 {
  font-size: 30px;
  color: white;
}

.btn {
  cursor: pointer;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.btn.rollback {
  visibility: hidden;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #222;
}

.btn:active {
  transform: scale(0.98);
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  visibility: hidden;
}

.rules {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #333;
  color: white;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
  z-index: 2;
}

.rules.show {
  transform: translateX(0px);
}

/** Top Screen **/

.top_screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.message_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title_message {
  width: 300px;
  justify-content: center;
}

.roll_dice {
  display: flex;
  padding-left: 60px;
}

.roll_dice_lbl {
  padding-top: 5px;
  color: rgb(206, 222, 236);
  font-size: 16px;
  align-content: center;
  width: 100%;
}

.message {
  font-size: 20px;
  color: rgb(206, 222, 236);
}

.message.err {
  font-size: 20px;
  color: red;
}

/** Define board & canvas **/

canvas {
  top: 125px;
  display: block;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  color: ;
}
